/// import global scss here instead of import this local scss to global scss folder
@import '../../scss/variables';
@import '../../scss/mixins';

/// create class name here
.C--backnavigation.type--1 {
  @include no-selection;
  //cursor: pointer;
  .icon {
    border-radius: 40px;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #FFFFFF;
    box-shadow: 0 0 3px 0 rgba(0,0,0,0.20);
  }

  .label {
    margin: 0;
    margin-left: 15px;
    font-size: 1.3em;
    white-space: pre-wrap;
  }
}
